@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

.aindaComDuvida {
  display: flex;
  align-items: center;
  flex-direction: column;

  color: #000000;

  font: 700 "Titillium Web Bold", sans-serif;

  margin: 90px 0 60px 0;
}

.aindaComDuvida span {
  display: block;
  font-size: 1.6em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.aindaComDuvida p {
  width: 250px;
  text-align: center;

  margin-bottom: 50px;
}

.logoComBotaoAindaComDuvida {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 50px 0 0 0;
}

/* aqui vai ser o quadrado preto com as duvidas frequentes */

.duvidasFrequentes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  min-height: 70px;
  width: 600px;
  height: fit-content;

  background-color: #000000;
  color: #f8f8f2;

  margin: 20px 0 20px 0;
  padding: 0 15px;

  border-radius: 10px;

  font-size: 10px;
  cursor: pointer;
}

.duvidasFrequentes svg {
  font-size: 2.2rem;
}

.duvidasFrequentes .ask-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
  color: #f8f8f2;
  height: 70px;
}

duvidasFrequentes .answer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #000000;
  color: #f8f8f2;
  height: 70px;
}

@media (max-width: 768px) {
  .duvidasFrequentes {
    width: 95%;
    align-items: center;
    justify-content: center;
  }

  .aindaComDuvida {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 90px;
  }

  .logoComBotaoAindaComDuvida {
    width: 100%;
    margin-bottom: 80px;
  }
}
