@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

.aindaComDuvida {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    color: #000000;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 500px;

    margin: 40px 0 50px 0;
}




/* aqui vai ser o quadrado preto com as duvidas frequentes */

.duvidasFrequentes {
    height: 100px;

    background-color: #000000;
    color: #F8F8F2;

    
}