@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

.aindaComDuvida {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    color: #000000;

    font: 700 "Titillium Web Bold", sans-serif;

    margin: 60px 0 70px 0;
}

.aindaComDuvida p {

    width: 250px;
    text-align: center;

    margin-bottom: 50px;
}



/* aqui vai ser o quadrado preto com as duvidas frequentes */

.duvidasFrequentes {
    display: flex;
    align-items: center;

    height: 70px;
    width: 600px;

    background-color: #000000;
    color: #F8F8F2;

    margin: 20px 0 20px 0;
    padding-left: 30px ;
    
    border-radius: 10px;

    font-size: 10px;
    
}