.button {
    margin-top: 25px;
    height: 75px;
    width: 380px;
    border-radius: 6px;
    font-weight: 500;
    background: #ef4040;
    color: #F6F6F6;
    font-size: 18px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
    border: 0;
    text-decoration: none;
  
    transition: filter 0.2s;
  
    img {
      margin-right: 8px;
    }
  
    &:not(:disabled):hover {
      filter: brightness(0.9);
    }
  
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
  h4 {
    font-size: 27px;
    padding-left: 5px;
  }

  h3 {
    color: #ef4040;
    padding-left: 5%;
    padding-top: 10px;
  }
