@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap');

.modulo_da_mentoria {
    display: flex;
    flex-direction: row;

    background-color: #212121;
}

.textoEimmagem {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.textos_modulo_da_mentoria {
    padding: 0 0 40px 35%;

}

.textos_modulo_da_mentoria h1 {
    color: #E80C16;
    font-size: 30px;

    font-family: 'Nunito Sans', sans-serif;
}

.textos_modulo_da_mentoria h2 {
    font-size: 45px;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

.imagem_modulo_da_mentoria {
    display: flex;
    align-items: flex-end;

    margin-top: 40px;
}



/* este é o que está em volta dos quadrados vermelhos da direita na segunda vira */

.tres_queadros_modulos_mentoria {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    
    padding: 20px 0 20px 0;
}

/* este é o quadrado vermelho na segunda vira */

.modulosmentorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 550px;
    height: 280px;

    border: 5px solid #E80C16;
    border-radius: 15px;

    margin: 20px 0 20px 10px;
}

.modulosmentorias h1 {
    font-size: 28px;
    color: #E80C16;
    
}


.h2modulomentoria {
    width: 430px;
}

.modulosmentorias h2 {
    font-size: 20px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    text-align: initial;
    
}