@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap");

.modulo_da_mentoria {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #212121;
  align-items: flex-start;
  padding-left: 5%;
}

.textoEimmagem {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 50%;
  z-index: 5;
}

.textos_modulo_da_mentoria {
  padding: 0 0 40px 10%;
}

.textos_modulo_da_mentoria h2 {
  color: #e80c16;
  font-size: 3rem;
  margin-top: 50px;
  font-family: "Nunito Sans", sans-serif;
}

.textos_modulo_da_mentoria .box-title {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
}

.imagem_modulo_da_mentoria {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
}

/* este é o que está em volta dos quadrados vermelhos da direita na segunda vira */

.tres_queadros_modulos_mentoria {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  padding: 20px 0 20px 0;
  z-index: 5;
}

.secondaryTitle {
  font-size: 2rem;
  font-family: Nunito Sans, sans-serif;
  font-weight: 900;
  color: #fff;
  padding-left: 0;
}

/* este é o quadrado vermelho na segunda vira */

.modulosmentorias {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;

  width: 500px;
  height: 240px;

  border: 5px solid #e80c16;
  border-radius: 15px;

  margin: 20px 0 20px 10px;
  padding: 1rem;
}

.modulosmentorias h2 {
  font-size: 28px;
  color: #e80c16;
}

.h2modulomentoria {
  width: 100%;
}

.modulosmentorias p {
  font-size: 20px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-align: initial;
}

.temple {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1440px) {
  .textos_modulo_da_mentoria {
    padding: 0 0 40px 10%;
  }
  .modulosmentorias {
    width: 500px;
    height: 240px;
  }
}

@media (max-width: 1024px) {
  .textos_modulo_da_mentoria {
    padding: 0 0 40px 10%;
  }
  .modulosmentorias {
    width: 450px;
    height: 260px;
    padding: 10px;
  }
  .modulo_da_mentoria {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .modulo_da_mentoria {
    flex-direction: column;
    justify-content: center;
  }

  .modulo_da_mentoria {
    justify-content: center;
    align-items: center;
  }

  .textoEimmagem {
    max-width: 100%;
    text-align: center;
  }

  .textos_modulo_da_mentoria {
    width: 100%;
  }
  .modulosmentorias {
    width: 90%;
    height: fit-content;
  }
}
