.naMidia {
  display: flex;
  align-items: center;
  flex-direction: column;

  color: #afafaf;
}

.naMidia h1 {
  margin: 35px 0 50px 0;
}

.logosNaMidia {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 50%;
}

@media (max-width: 768px) {
  .logosNaMidia {
    flex-direction: column;
    gap: 80px;
  }
}
