.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: #000;
}

.rodape p {
    margin: 50px 0 30px 0;
} 

.voltarAoTopo {
    display: flex;
    align-items: center;
    flex-direction: column;
}